<% provide(:title, "Contact") %>
<h1>Contact</h1>

<p> Please let us know how we can improve further. Email us at admin@redmart.com. Thanks! </P>
<!-- <p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p> -->
