<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Review Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>



<% else %>
<% provide(:heading, "Home") %>
<div>
<h1> Home Page </h1>
<!-- <%= link_to "Sign up now!", 'users/new', class: "btn btn-lg btn-primary" %> -->
</div>


<% end %>
