<% provide(:heading, "Home") %>
<div>
<h1> Home Page </h1>
<!-- <%= link_to "Sign up now!", 'users/new', class: "btn btn-lg btn-primary" %>
</div> -->
<!-- <h1>StaticPages#home</h1>
<p>Home Page</p> -->
